<div class="focus focus--cs">
    <div class="wrapper">
      <h2 class="focus__title">All topics...</h2>
      <ul class="topic">
      {% assign igcse_paper = site.cs_resources | where: "level", page.level | where: "listed", "true" %}
      
      {% for topic in igcse_paper %}
      
        <li class="topic__item">
          <a class="topic__link" href="{{ topic.url }}">
            <span class="topic__code">{{topic.syllabus}}</span>
            {{ topic.title}}
          </a>
        </li>
      
      {% endfor %}
      </ul>
    </div>
</div>