<footer class="site-footer">
    <div class="wrapper site-footer__content">
        <nav class="site-footer__nav site-footer__links">
            <a href="/about" class="site-footer__link">About</a>
            <a href="/blog" class="site-footer__link">Blog</a>
            <a href="/contact" class="site-footer__link">Contact</a>
            <a href="https://github.com/jazibobs/jazibobs.github.io" class="site-footer__link">Source code</a>
        </nav>
        <nav class="site-footer__nav site-footer__socials">
            <a href="https://github.com/jazibobs" class="site-footer__social">GitHub</a>
            <a href="https://ko-fi.com/jazibobs" class="site-footer__social">Ko-fi</a>
            <a href="https://www.linkedin.com/in/jaredgrigby/" class="site-footer__social">LinkedIn</a>
            <a href="https://www.twitter.com/jazibobs" class="site-footer__social">Twitter</a>
        </nav>
        <small class="site-footer__copy">
            <p>Copyright &copy; 2013 - 2021 Jared Rigby
            <p>With thanks to <a href="https://undraw.co/">Katerina Limpitsouni</a> for the illustrations.</p>
        </small>
    </div>
</footer>
