<header class="site-header">
    <div class="site-header__content wrapper">
        <a href="/" class="site-header__logo">
            <img src="/assets/jgr-morse.svg" alt="Return to homepage">
        </a>
        <nav class="site-header__nav">
            <a class="site-header__nav-link" href="/cs/">Learn CS</a>
            <a class="site-header__nav-link" href="/projects/">Personal Projects</a>
            <a class="site-header__nav-link" href="/hacking/">Learn Hacking</a>
        </nav>
    </div>  
</header>
