<nav class="section-nav section-nav--projects">
    <ul class="section-nav__list wrapper">
        <li class="section-nav__item">
            <a class="section-nav__link" href="/projects/education">Education</a>
        </li>
        <li class="section-nav__item">
            <a class="section-nav__link" href="/projects/software">Software</a>
        </li>
        <li class="section-nav__item">
            <a class="section-nav__link" href="/projects/hardware">Hardware</a>
        </li>
    </ul>
</nav>