.wrapper {
    max-width: 60rem;
    padding: $pad;
    margin: auto;

    &--content {
        padding-right: $pad*8;

        @media screen and (max-width: 800px) {
            padding-right: $pad;
        }
    }
}

.hero {
    &--project {
        background: lighten($black, 90%);
    }

    &__content {
        padding: $pad*3 $pad;
        display: flex;
        align-items: center;

        @media screen and (max-width: 800px) {
            display: block;
        }
    }

    &__text {
        width: 50%;
        padding-right: $pad;

        @media screen and (max-width: 800px) {
            width: 100%;
            padding: 0;
        }
    }

    &__image {
        width: 50%;
        padding-left: $pad;

        @media screen and (max-width: 800px) {
            width: 100%;
            padding: 0;
            margin-top: $pad*2;
            max-width: 25rem;
        }
    }
}

.focus {
    background: lighten($black, 80%);

    &--cs {
        background: lighten($cs, 40%);
    }

    &__title {
        margin-top: $pad;
        margin-bottom: -$pad/2;
    }
}

.feature {
    list-style: none;
    margin: 0;
    padding: $pad*2 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
        display: block;
    }

    &__item {
        width: calc(33% - #{$pad});
        display: flex;

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    &__link {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: $black;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 2px 2px 15px -5px $black;
        border-radius: $pad/4;
        overflow: hidden;
        transition: transform 0.4s ease;
        border-top: 5px solid;
        border-bottom: 5px solid;
        background: lighten($black, 90%);

        &:hover,
        &:focus {
            transform: translateY(-$pad/2);
        }

        @media screen and (max-width: 800px) {
            margin-bottom: $pad*2;
        }
    }

    &__link--learn {
        border-color: $cs;
    }

    &__link--hacking {
        border-color: $hack;
    }

    &__link--project {
        border-color: $make;
    }

    &__img {
        background: $white;
        object-fit: contain;
        border: $pad solid $white;
        height: 15rem;
        width: 100%;
    }

    &__title {
        display: flex;
        padding: $pad;
        align-items: center;
        justify-content: space-between;

        &:after {
            content: "➤";
            font-size: 150%;
            color: $black;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
        }
    }
}

.title {
    background: lighten($black, 90%);

    &__main {
        margin: $pad 0 0;
    }

    &__sub {
        display: block;
        margin-top: -$pad/8;
        font-size: 80%;
        text-transform: uppercase;
    }
}

.topic {
    display: flex;
    margin: $pad 0;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    &__item {
        display: block;
        width: calc(50% - #{$pad});
        margin: $pad/2 0;

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    &__link {
        display: block;
        padding: $pad/2;
        text-decoration: none;
        font-weight: bold;
        background: $white;
        border-radius: $pad/8;
        border-left: 5px solid $cs;
        box-shadow: 2px 2px 10px -5px $black;
    }
}