.site-footer {
    background: $black;
    padding: $pad 0 $pad/2;
    color: $white;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__nav {
        font-size: 80%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }

    &__link,
    &__social {
        color: $white;
        margin-bottom: $pad/4;
        text-decoration: none;
    }

    &__copy {
        display: block;
        margin-top: $pad;
        width: 100%;
    }

    a {
        color: $white;
    }
}