.site-header {
    background: $black;
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        border-radius: 0 50% 50% 50%;
        padding: $pad/2 $pad/2;
        margin: (-$pad) (0) (-$pad*1.5) (-$pad);
        box-shadow: 2px 2px 15px -5px $black;

        @media screen and (max-width: 800px) {
            margin: 0 0;
        }
    }

    &__nav {
        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &__nav-link {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        font-size: 90%;

        &:not(:last-child) {
            margin-right: $pad;
        }
    }
}