<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Jared Rigby</title>
    <link rel="stylesheet" href="/css/style.css">
    {% include favicon.html %}
  </head>
  <body>
    
    {% include header.html %} 
    {% include nav_cs.html %} 

    <div class="hero">
      <div class="hero__content wrapper">
        <div class="hero__text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="hero__image">
          <img src="../assets/cs/undraw_Mind_map_re_nlb6.svg" alt="">
        </div>
      </div>
    </div>

    <div class="focus focus--cs">
      <div class="wrapper">
        <h2 class="focus__title">Resources by syllabus</h2>
        <ul class="feature">
          <li class="feature__item">
            <a class="feature__link feature__link--learn" href="/cs/igcse">
              <img class="feature__img" src="../assets/cs/undraw_voice_interface_eckp.svg" alt="">
              <span class="feature__title">IGCSE CS</span>
            </a>
          </li>
          <li class="feature__item">
            <a class="feature__link feature__link--learn" href="/cs/as">
              <img class="feature__img" src="../assets/cs/undraw_programming_2svr.svg" alt="">
              <span class="feature__title">AS CS</span>
            </a>
          </li>
          <li class="feature__item">
            <a class="feature__link feature__link--learn" href="/cs/a2">
              <img class="feature__img" src="../assets/cs/undraw_version_control_9bpv.svg" alt="">
              <span class="feature__title">A2 CS</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    {% include footer.html %}

  </body>
</html>