<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Jared Rigby</title>
    <link rel="stylesheet" href="/css/style.css">
    {% include favicon.html %}
  </head>
  <body>
    
    {% include header.html %} 
    <div class="hero">
      <div class="hero__content wrapper">
        <div class="hero__text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="hero__image">
          <img src="/assets/{{ page.image }}" alt="">
        </div>
      </div>
    </div>

    <div class="focus">
      <div class="wrapper">
        <h2 class="focus__title">Select a link to learn more...</h2>
        <ul class="feature">
          <li class="feature__item">
            <a class="feature__link feature__link--learn" href="/cs">
              <img class="feature__img" src="../assets/undraw_pair_programming_njlp.svg" alt="">
              <span class="feature__title">Learn computer science</span>
            </a>
          </li>
          <li class="feature__item">
            <a class="feature__link feature__link--project" href="/projects">
              <img class="feature__img" src="../assets/undraw_design_components_9vy6.svg" alt="">
              <span class="feature__title">Projects</span>
            </a>
          </li>
          <li class="feature__item">
            <a class="feature__link feature__link--hacking" href="/hacking">
              <img class="feature__img" src="../assets/undraw_hacker_mind_6y85.svg" alt="">
              <span class="feature__title">Cybersecurity</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    {% include footer.html %}

  </body>
</html>
