<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Jared Rigby</title>
    <link rel="stylesheet" href="/css/style.css">
    {% include favicon.html %}
  </head>
  <body>
    
    {% include header.html %} 
    {% include nav_projects.html %} 

    <div class="hero hero--project">
        <div class="hero__content wrapper">
            <div class="hero__text">
                <h1>{{ page.title }}</h1>
                <p>{{ page.started }} - {{ page.finished }}</p>
            </div>
            <div class="hero__image">
                <img src="/assets/projects/{{ page.image }}" alt="">
            </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper--content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>